<p id="notice"><%= notice %></p>


<div style="background-color:#87CEFA; border:1px solid black;margin-left:auto;margin-right:auto;" class="panel text-center">
<p><h2 style="color:#696969;"> Hello, my name is Aubrey Church </h2></p>
<p style="color:#696969;"> I am a student at UCCS, due to graduate next semester</p>
<p style="color:#696969;"> These are some of my projects</p>

</div>
</div>


<div class="container py-4">
<table style="background-color:#87CEFA; border:1px solid black; margin-left:auto;margin-right:auto;">
  <thead>
    <tr>
      <th style="color:#696969;">Title</th>
      <th style="color:#696969;">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="background-color:#87CEFA">
    <% @projects.each do |project| %>
      <tr>
        <td style="color:#696969;"><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= button_to 'Show', project, method: :get %></td>
        <% if admin_signed_in? %> 
        <td><%= button_to 'Edit', edit_project_path(project), method: :get %></td>
        <td><%= button_to 'Destroy', project, :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= button_to 'New Project', new_project_path, method: :get %>

</div>